.hero-bg {
  /* Letak gambar background di sini */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img1.jpg'); 
  padding: 40px;
  border-radius:10px;
  background-size: cover;
  background-position: center;
  height: 400px; 
  width: 100%;
}
