.hero {
    height: 200px;
    background-image: url(background.jpg);
    position: relative;

}

.overlay {
  
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertical center */
    align-items: center;
    /* horizontal center */

    text-align: center;

}