/* 
    Created on : 31 Dec 2025, 9:33:11 am
    Author     : <<NUR ADLYNN SYAKIRAH BINTI NOR KHAIRUL ANUAR>>
*/
.hero-bg {
  /* Letak gambar background di sini */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('webbannerCSF3133.jpg'); 
  padding: 40px;
  border-radius:10px;
  background-size: cover;
  background-position: center;
  height: 400px; 
  width: 100%;
}